name: CI

env:
  DENO_VERSION: 1.26.0

on:
  push:
    branches:
      - main

jobs:
  lint-and-format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@main

      - name: Install deno
        uses: denoland/setup-deno@main
        with:
          deno-version: ${{env.DENO_VERSION}}

      - name: Deno formatting
        run: deno fmt --check

      - name: Deno linting
        run: deno lint

  build:
    runs-on: ubuntu-latest
    needs: lint-and-format-check
    steps:
      - name: Clone repo
        uses: actions/checkout@main

      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate .env file
        uses: SpicyPizza/create-envfile@v1
        with:
          envkey_APP_NAME: "quacker"
          envkey_APP_PORT: "80"
          envkey_DB_PORT: ${{ secrets.DB_PORT }}
          envkey_DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          envkey_DB_USER: ${{ secrets.DB_USER }}
          envkey_DB_NAME: ${{ secrets.DB_NAME }}
          envkey_DB_HOST: ${{ secrets.DB_HOST }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/quacker:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Add SSH key from secrets
        run: ${{ secrets.SSH_KEY }} > ~/.ssh/id_rsa

      - name: Migrate
        run: ssh -i ~/.ssh/id_rsa -t ci@${{secrets.SSH_IP}} 'docker run --pull -it --network db ${{ secrets.DOCKERHUB_USERNAME }}/quacker make migrate'
      
      - name: Kill old instance
        run: ssh -i ~/.ssh/id_rsa -t ci@${{secrets.SSH_IP}} 'docker kill quacker'
      
      - name: Start new instance
        run: ssh -i ~/.ssh/id_rsa -t ci@${{secrets.SSH_IP}} 'docker run --pull -d --name quacker --restart always --rm --network db -p 80:80 ${{ secrets.DOCKERHUB_USERNAME }}/quacker'
